<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.cal.mj.main.vo.ClientCustomerVO" alias="customer"/>
        <typeAlias type="com.cal.mj.main.vo.MjVO" alias="mj"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappings/customer-mapping.xml"/>
        <mapper resource="mappings/mj-mapping.xml"/>
    </mappers>
</configuration>